.errorMessage{
    color: red;
    text-transform: uppercase;
    font-weight: 400;
}
.fieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 20em;
    padding: 10px;
    font-size: larger;
}
/* span{
    display: block;
    text-align: right;
} */
.label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}
.label:first-child{
    margin-top: 20px;
}
.button{
    border-radius: 50%;
}
