
.link-name{
    color: grey;
    transition: 200ms ;
    line-height: 1.5rem;
}
.link-name:hover{
    border-bottom: 1px solid chocolate;
    font-size: 1.5rem;
    transition:ease-in-out 200ms;
}


nav {
    height: 50vh;
    padding: 20px;
    padding-top: 3rem;
    border: 2px solid gray;
    border-radius: 10px;
}
nav ul {
    list-style-type: none;
    font-size: x-large;
    font-weight: 600;
}

.active span{
    text-align: left;
    font-size:30px ;
    line-height: 30px;
    font-weight: 600;
    transform: translate(20px,0px);
    text-transform: uppercase;
    color: chocolate;
    transition: ease-in 0.3s;
    border-bottom: 2px solid chocolate;
}
