.field-array-blocks{
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
}
.field-array-blocks input{
    width: 10rem;
}
button.button{
    margin-left: 1rem;
    width: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    font-size: x-large;
}
.field-array-blocks label {
    text-align: center;
    margin: 1rem;
    margin-right: 2rem;
    font-size: large;
}
#generate-invoice-button-container{
    text-align: center;
}
.errorMessage{
    font-weight: 400;
}
#select-items-container{
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: gray;
    text-transform: uppercase;
}